.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.col {
    color: white;
}

body {
    background-color: #071E33;
}

.navbar-nav .nav-link.active {
    color: #fc0;

}

.navbar-nav .nav-link:hover {
    color: #fc0;

}

.navbar-nav .nav-link {
    color: #Ffff;
}

.navbar-nav .nav-link.disabled {
    color: #b3b3b3;

}

.form-control {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 16px;
    color: var(--color-white);
    font-family: var(--font-lato);
    background-color: transparent;

}

.form-control::placeholder {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-lato);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 26px;


}

.form-control::placeholder:focus {
    color: #fc0;
}

.form-control:focus {
    background-color: transparent;
    color: #fc0;
    border: none;
}

.navbar-search-icon {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

.search-box {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 100px;
    border: 1px solid var(--color-white);
    width: 150px;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: normal;
    letter-spacing: normal;
}

.search-box:hover {
    border: 3px solid #fc0;
}

.search-box:hover .form-control::placeholder {
    color: #fc0;
}

.search-box:hover .navbar-search-icon {
    color: #fc0;
}

.search-box.highlighted {
    border: 3px solid #fc0;
    width: 250px !important;

}

.rightcontent {
    transition: width 0.3s ease;
}

.rightcontent.expanded {
    width: 450px;

}


.navbar-search-icon.highlighted {
    color: #fc0;

}


.signin-button {
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 100px;
    border: 1px solid var(--color-white);
    width: 150px;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: normal;
    letter-spacing: normal;
    gap: 21px;
}

.signin-text {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-base);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 26px;
}

.signin-button:hover {
    border: 3px solid #fc0;
}

.signin-button:hover .signin-text {
    color: #fc0;
}

.signin-button:hover .ggprofile-icon {
    filter: invert(69%) sepia(81%) saturate(2097%) hue-rotate(5deg) brightness(116%) contrast(101%);
}

.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba (0, 0, 0, .2);

}